@import-normalize;

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

:root[data-theme='dark'] {
  --text-color: #f0F0F0;
  --text-color-secondary: #111111;
  --color-primary: #0A0A0A;
  --color-secondary: #19191B;
  --color-active: #ff6f22;
  --color-hover: rgba(191, 75, 13, 1);
}

:root[data-theme='light'] {
  --text-color: #111111;
  --text-color-secondary: #f0F0F0;
  --color-primary: #FAFAFA;
  --color-secondary:#F0F0F0;
  --color-active: rgb(74, 210, 149);
  --color-hover: rgba(25, 142, 90, 1);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans'), url(./assets/fonts/OpenSans-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), url(./assets/fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Sriracha';
  font-style: normal;
  font-weight: 400;
  src: local('Sriracha'), url(./assets/fonts/Sriracha-Regular.ttf) format('truetype');
}