body {
  font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

:root[data-theme='dark'] {
  --text-color: #f0F0F0;
  --color-primary: #0A0A0A;
  --color-secondary: #0A0A0A;
}

:root[data-theme='light'] {
  --text-color: #111111;
  --color-primary: #FAFAFA;
  --color-secondary: #0A0A0A;
}